body { 
  font-family: sans-serif; 
  background: #f4f4f4; 
  display: flex; 
  justify-content: center; 
}

.card { 
  background: #e0e0e0; /* gris claro */ 
  width: 300px; 
  border-radius: 8px; 
  box-shadow: 0 6px 15px rgba(0,0,0,0.25); /* cambio estético */ 
}

.card-header { 
  background: green; 
  height: 80px; 
}

.card-body { 
  padding: 20px; 
  text-align: center; 
}

.skills {
  list-style: none;  /* quita los puntos */
  margin-top: 10px;
  padding: 0;
}

.skills li {
  margin: 5px 0;
}
